<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.workspace">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppbaseTheme">
        <activity android:name=".homework.picture">
        </activity>
        <activity android:name=".homework.phone_fenbianlv">
        </activity>
        <activity android:name=".homework.heartActivity">
        </activity>
        <activity android:name=".homework.homeworkActivity"
            android:launchMode="singleTop">

        </activity>
        <activity android:name=".homework.home_picture">
        </activity>
        <activity android:name=".homework.Hm12Activity">
        </activity>
     <activity android:name=".homework.ToolBarActivity">
     </activity>
        <activity android:name=".homework.Telphone_Activity">
        </activity>
        <activity android:name=".homework.hm25_city_Activity">
        </activity>
        <activity android:name=".homework.hm25_city2_Activity">
        </activity>
        <activity android:name=".homework.planeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>