<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.workspace">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/timg"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppbaseTheme">
        <activity android:name=".homework.picture">
        </activity>
        <activity android:name=".homework.phone_fenbianlv">
        </activity>
        <activity android:name=".homework.heartActivity">
        </activity>
        <activity android:name=".homework.homeworkActivity"
            android:launchMode="singleTop">

        </activity>
        <activity android:name=".homework.home_picture">
        </activity>
        <activity android:name=".homework.Hm12Activity">
        </activity>
         <activity android:name=".homework.ToolBarActivity">
        </activity>
        <activity android:name=".homework.Telphone_Activity">
        </activity>
        <activity android:name=".homework.hm25_city_Activity">
        </activity>
        <activity android:name=".homework.hm25_city2_Activity">
        </activity>
        <activity android:name=".homework.planeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            <activity android:name=".homework.hm35_animationActivity">
            </activity>
        <activity android:name=".homework.hm_board_1_Activity">
        </activity><activity android:name=".homework.hm_loadfile_Activity"></activity>
        <activity android:name=".test1">
        </activity>
        <activity android:name=".homework.hm01_helloworldActivity">
        </activity>
        <activity android:name=".homework.hm02_image_Activity"></activity>
        <activity android:name=".homework.hm06_01_Activity"></activity>

    </application>

</manifest>